<div class="landing-bg" aria-hidden="true">
  <!-- Scattered Financial Icons -->
  <div
    class="landing-bg__icon landing-bg__icon--1"
    [style.transform]="getParallaxTransform(1, 0)"
  >
    <ng-icon name="currencyDollar" size="4rem" />
  </div>
  <div
    class="landing-bg__icon landing-bg__icon--2"
    [style.transform]="getParallaxTransform(0.8, 1)"
  >
    <ng-icon name="trendUp" size="3rem" />
  </div>
  <div
    class="landing-bg__icon landing-bg__icon--3"
    [style.transform]="getParallaxTransform(1.2, 2)"
  >
    <ng-icon name="wallet" size="3.5rem" />
  </div>
  <div
    class="landing-bg__icon landing-bg__icon--4"
    [style.transform]="getParallaxTransform(0.6, 3)"
  >
    <ng-icon name="banknotes" size="2.5rem" />
  </div>
  <div
    class="landing-bg__icon landing-bg__icon--5"
    [style.transform]="getParallaxTransform(0.9, 4)"
  >
    <ng-icon name="chartBar" size="3rem" />
  </div>

  <!-- Decorative Circles -->
  <div
    class="landing-bg__circle landing-bg__circle--1"
    [style.transform]="getCircleTransform(0.5, 0)"
  ></div>
  <div
    class="landing-bg__circle landing-bg__circle--2"
    [style.transform]="getCircleTransform(0.7, 1)"
  ></div>
  <div
    class="landing-bg__circle landing-bg__circle--3"
    [style.transform]="getCircleTransform(0.4, 2)"
  ></div>

  <!-- Diagonal Lines -->
  <div
    class="landing-bg__line landing-bg__line--1"
    [style.transform]="getParallaxTransform(0.3, 0)"
  ></div>
  <div
    class="landing-bg__line landing-bg__line--2"
    [style.transform]="getParallaxTransform(0.4, 1)"
  ></div>
  <div
    class="landing-bg__line landing-bg__line--3"
    [style.transform]="getParallaxTransform(0.5, 2)"
  ></div>

  <!-- Floating Dots -->
  <div
    class="landing-bg__dot landing-bg__dot--1"
    [style.transform]="getParallaxTransform(0.6, 3)"
  ></div>
  <div
    class="landing-bg__dot landing-bg__dot--2"
    [style.transform]="getParallaxTransform(0.8, 4)"
  ></div>
  <div
    class="landing-bg__dot landing-bg__dot--3"
    [style.transform]="getParallaxTransform(0.5, 5)"
  ></div>
  <div
    class="landing-bg__dot landing-bg__dot--4"
    [style.transform]="getParallaxTransform(0.7, 6)"
  ></div>
</div>
